name: Swift

on: push

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-14
          - macos-15
          - macos-26

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build
        run: swift build --verbose

      - name: Run executable
        run: swift run tccpolicy --help
