name: Swift

on: push

jobs:
  build:
    strategy:
      matrix:
        os:
          - macos-14
          - macos-15

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - name: Build
        run: swift build --verbose

      - name: Run executable
        run: swift run tccpolicy --help
